* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swiper-container {
    width: 100vw;
    height: 100vh;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    transition: 0.3s;
}
.swiper-pagination-clickable .swiper-pagination-bullet:hover {
    background: #27ad1b;
    opacity: 1;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    background: #1cdb0a;
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px 0;
}

